@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #d751d7;
    --clr-black: #070707;
    --clr-main-light: #4c30c8;
    --clr-main-light: #785ce9;
    --clr-white: rgb(250, 228, 230);
    --clr-gray: rgb(245, 203, 207);
    --clr-red: #961818;
    --clr-rose: rgb(254,201,210);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
.header {

    height: 220px;
    display: flex;
    justify-content: center;
    /* margin: 0 0 0 30px; */
    background: var(--clr-white);
}

.img {
    height: 200px;
    width: 360px;
    object-fit: cover;
}

.wrapper {
    display: grid;
    background-color: var(--clr-main);
    grid-template-columns: 1fr 4fr;
    background-image: url(./imagenes/madalena.jpeg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
}
aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-main-light);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.logo {
    font-weight: 400;
    font-size: 1.3rem;
}
.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    /* font-size: 1rem; */
    cursor: pointer;
    display: flex;
    align-items: center; 
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}
.boton-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    /* Esto es con respecto al .botton-menu.active::before  */
    position: relative;
    padding: 1rem;
}
/*Esto sera para hacer la curva al este elemento, este seria
para la isquina de arriba. */
.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
} 

/*Esto sera para hacer la curva al este elemento, este seria
para la isquina de abajo. */
.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
} 

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}
.boton-carrito {
    margin-top: 2rem;
   /*  padding: 0; */ 

    /* background-color: transparent;
    border: 0;
    color: var(--clr-white);
    /* font-size: 1rem; */
    /*cursor: pointer;
    display: flex;
    align-items: center; 
    gap: 1rem;
    font-weight: 600;
    padding: 0;
    font-size: .85rem; */
}
.numerito {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
}
.boton-carrito.active .numerito {
    background-color: var(--clr-main);
    color: var(--clr-white);
}
.texto-footer {
    color: var(--clr-main-light);
    font-size: .85rem;
}
main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 2rem;
}
.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
}
.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.producto-imagen {
    max-width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    width: 100%;
    height: 15rem;
}
.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.producto-titulo {
    font-size: 1rem;
}
.producto-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}
.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

/* Esta section corresponde a la pagiana del carrito de compra, 
le daremos sus propios estilos */


.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.carrito-vacio,
.carrito-comprado {
    color: var(--clr-main);
    /* display: none; */ 
}
.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding-right: 1.5rem;
    padding: .5rem;
    border-radius: 1rem;
}
.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}
.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;  
    color: var(--clr-red);
    cursor: pointer;
} 
.carrito-producto small {
    font-size: .75rem;
}
.carrito-acciones {
    display: flex;
    justify-content: space-between;
}
.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}
.carrito-acciones-derecha {
    display: flex;
}
.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    /* border-radius: 1rem; */
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}
.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    /* border-radius: 1rem; */
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.header-mobile {
    display: none;
}
/* .cta {
    display: none;
  }  */
.disabled {
    display: none;
}
.cte {
    display: none;  
}
.logo {
    display: none;  
} 


@media screen and (max-width: 600px) {

    .header {
        width: 710px;
        height: 310px; 
    }
    .img {
        width: 450px;
        height: 300px;
    }
    
        
    .wrapper {
      /* grid-template-columns: 1fr;*/
      width: 710px;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0; 
    }   

    .header-mobile {
      /* border: 1px solid red;
      background-color: var(--clr-white); */
      margin-top: 1rem;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    /* Boton */

    a {
        text-decoration: none;
        color: inherit;
      }
      
      .cta {
        border: 1px solid green;
        background-color: var(--clr-main);
        border-radius: 50px;
        position: relative;
        margin: auto;
        padding: 19px 22px;
        transition: all 0.2s ease;
        cursor: pointer;
      }
      .cta:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 28px;
        background: rgba(255, 171, 157, 0.5);
        width: 56px;
        height: 56px;
        transition: all 0.3s ease;
      }
      .cta span {
        position: relative;
        font-size: 16px;
        line-height: 18px;
        font-weight: 900;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        vertical-align: middle;
      }
      .cta svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: #111;
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;
      }
      .cta:hover:before {
        width: 100%;
        background: #ffab9d;
      }
      .cta:hover svg {
        transform: translateX(0);
      }
      .cta:active {
        transform: scale(0.96);
      }

      .cte {
        color: var(--clr-rose);
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: block;
      }


    /*  */
    aside {
      position: fixed;
      width: 20rem;
      z-index: 9;
      background-color: var(--clr-main);
      left: 0;
      box-shadow: 0 0 0 5vmax rgba(0, 0, 0, .75);
   /*    display: none; */  
      transform: translateX(-100%);
      opacity: 0;
      visibility: hidden;
      transition: .2s;
    }
    .aside-visible {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      height: 50rem; 
      border-radius: 0 0 40px 0;
    } 
    .logo {
        display: contents;
        color: var(--clr-rose);
    } 
    
    .boton-menu.active::before, 
    .boton-menu.active::after {
      display: none; 
    }
    .main {
      border: 1px solid green;
      margin: 1rem;
      margin-top: 3rem; 
      padding: 2rem;
     
    } 
    .contenedor-productos {
      grid-template-columns: 1fr 1fr;
    }
    
    .header-mobile .logo {
      color: black;
    }
    
    
    
    
  
  }



